.cabecera {
    margin-left: 1%;
    margin-right: 2%;
}

#map {
    width: 1700px;
    height: 765px;
    float: right;
}

.btn_inicio {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 800;
}

.filtro {
    position: absolute;
    top: 20px;
    z-index: 800;
    right: 500px;
}

.btn_filtro {
    padding: 10px 20px;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 100px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    margin: 0;
}

.btn_filtro:hover {
    background-color: rgb(241, 241, 241);
}

.btn_cabecera {
    position: absolute;
    top: 20px;
    left: 140px;
    padding: 10px;
    z-index: 800;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 50;
    /* Sit on top */
    left: 0;
    top: 0;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: hidden;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50% !important;
    /* Could be more or less, depending on screen size */
    height: auto;
    border-radius: 15px !important;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.register {
    text-align: center;
    justify-content: center;
    color: black;
    display: block;
}

.register2 {
    text-align: center;
    justify-content: center;
    color: black;
    display: none;
}

.inp_txt {
    border-radius: 100px;
    border: none;
    width: 400px;
    height: 45px;
    background: #f5f5f5;
    color: grey;
    text-align: center;
    font-size: 16px;
}

.inp_txt::placeholder {
    color: grey;
    text-align: center;
    font-size: 16px;
}

input[type='password'] {
    border-radius: 100px;
    border: none;
    width: 400px;
    height: 45px;
    background: #f5f5f5;
    color: grey;
    text-align: center;
    font-size: 16px;
}

input[type='password']::placeholder {
    color: grey;
    text-align: center;
    font-size: 16px;
}

.btn_regis {
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    background-color: #69bad3;
    font-size: 18px;
    border-radius: 100px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    margin: 0;
}

.btn_regis:hover {
    color: white;
    background-color: #539bb1;
}

.btn_mostrar {
    text-decoration: none;
    color: #69bad3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.register p {
    color: grey;
}

.register2 p {
    color: grey;
}