* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #666666;
}

.admin-logout {
    position: absolute;
    top: 6vh;
    right: 5vh;
    cursor: pointer;
    transition: 0.3s;
}

.admin-logo {
    position: absolute;
    top: 1vh;
    left: 2vh;
    cursor: pointer;
}

.admin-cpanel {
    position: absolute;
    top: 5vh;
    left: 41%;
    font-size: 50px;
    font-weight: 900;
    color: #333333;
}

.admin-logo img {
    width: 18vh;
    height: 13vh;
    margin: 0%;
}

.fas,
.fa {
    color: white;
}

.admin-boton-administrar-users {
    position: absolute;
    top: 40%;
    left: 15%;
}

.admin-boton-administrar-mapas {
    position: absolute;
    top: 40%;
    left: 42%;
}

.admin-boton-administrar-gincanas {
    position: absolute;
    top: 40%;
    left: 70%;
}

.admin-boton-administrar-users,
.admin-boton-administrar-mapas,
.admin-boton-administrar-gincanas {
    margin: 0%;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.3);
    font-size: 3vh;
    font-weight: bold;
}

.admin-boton-administrar-users:hover,
.admin-boton-administrar-mapas:hover,
.admin-boton-administrar-gincanas:hover {
    transform: scale(1.4);
    transition: 0.3s;
}

.admin-boton-administrar-img {
    width: 100%;
    height: 70%;
}

.admin-boton-administrar-img img {
    width: 30vh;
    height: 30vh;
    border-radius: 3%;
    border: 3px solid #333333;
}

.admin-boton-administrar-texto {
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 4%;
}